<form>
  <div class="mb-3">
    <label>Blog Text</label>

    <input type="text" id="newposttext" />
    <label>Blog Title</label>

    <input type="text" id="newposttitle" />
    <button type="submit" id="postSub" class="btn btn-primary">Submit</button>
  </div>
</form>

<script src="./js/newPost.js"></script>