<form>
  <div class="mb-3">

    <label>Blog Title</label>
    <input width="50%"  type="text" id="newposttitle" />

    <label>Blog Text</label>
    <input type="text" id="newposttext" />

    <button type="submit" id="postSub" class="btn btn-primary">Submit</button>
  </div>
</form>